.crop-container {
  grid-area: main;
  overflow-y: auto;
  padding: 20px 20px;
  color: #515153;
  display: grid;
  gap: 20px;
}

.crop-card {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.crop-card h2 {
  margin-top: 0;
}

.crop-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

.crop-card p {
  margin: 5px 0;
}

  
  /* Media Queries for Responsiveness */
  
  @media (max-width: 768px) {
    .crop-card {
      width: calc(50% - 20px); /* Two cards per row on smaller screens */
    }
  }
  
  @media (max-width: 480px) {
    .crop-card {
      width: 100%; /* One card per row on very small screens */
    }
  }