.market-container {
  grid-area: main;
  overflow-y: auto;
  padding: 20px 20px;
  color: #515153;
}

.category-filter {
  margin-bottom: 20px;
}

.category-filter select {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.product-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0;
}

.product-card {
  width: calc(25% - 20px); /* Adjust width for four cards per row */
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #4CAF50; /* Solid border with your brand color */
  border-radius: 5px;
  padding: 15px;
  margin: 10px;
  text-align: center;
}

.product-card img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.product-card h2 {
  font-size: 18px;
  margin-bottom: 5px;
}

.product-card p {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.product-card span {
  font-style: italic;
  color: #888;
}

.product-price {
  color: #32CD32; /* Green color code */
  margin-bottom: 5px;
}

.availability {
  font-weight: bold;
  margin-top: 5px;
  color: #32CD32; /* Light gray for out-of-stock */
}

.product-card.available .availability {
  color: #32CD32; /* Green for available */
}
.availability.out-of-stock { /* Override for out-of-stock */
  color: #999;
}

/* Media Queries for Responsiveness */

@media (max-width: 768px) {
  .product-card {
    width: calc(50% - 20px); /* Two cards per row on smaller screens */
  }
}

@media (max-width: 480px) {
  .product-card {
    width: 100%; /* One card per row on very small screens */
  }
}
